#p1 {
    color: red;
    font-weight:bold;
    font-size: 20px;
    text-decoration: underline;
    }
    #p1 {
        color: red;
        font-weight:bold;
        font-size: 20px;
        text-decoration: underline;
        }
        #p1 {
            color: red;
            font-weight:bold;
            font-size: 20px;
            text-decoration: underline;
            }
